::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgb(214, 214, 214);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56);
  border-radius: 2px;
}
.App {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: #7a7c7c;
}
.nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image:  linear-gradient(to top, #646668, #3f3924e0);
  /*background-image:  linear-gradient(to top, #646668, #243444e0);*/
  font-family: cursive;
  font-size:1000%;
  color: rgb(247, 247, 247);
}
.descrip{
  width: 100vmax;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-content: center;
  padding-top: 30px;

}
.text{
  font-family:cursive;
  font-size:400%;
  text-align: center;
  color: #EDC16C;
}
.yo{
  margin-top: 10px;
  margin-bottom: 45px;
  align-self: center;
  width: 70%;
  font-family:cursive;
  font-size:200%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.TitProyectos{
  width: 100vw;
  height: 500px;
  background-image: url('../img/Proyectos.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.TitLenguajes{
  width: 100vw;
  height: 500px;
  background-image: url('../img/lenguajes.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.PROY{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 700px;
  text-align: center;
  padding-top: 40px;
}
.LENGUA{
  width: 100vw;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.menu{
  margin-top: 100px;
  position:relative;
  width: 450px;
  height: 450px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu li{
  background-color: rgb(118, 118, 202);
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  list-style: none;
  transition: 0.5s;
  transition-delay: (calc(0.1s));
  transform-origin: 225px;
  left: 0;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(225px);
}
.menu.active li{
  transform: rotate(calc(360deg / 8 * var(--i)));
}
.opt{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: rgb(92, 67, 180);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  cursor: pointer;
  box-shadow: 0 3px 4px rgb(100, 100, 100);
  transition: transform 1s;
  font-family:cursive;
  color:#EDC16C;
  font-size: 250%;
}
.menu.active .opt{
  transform: rotate(360deg);
}
.por{
  width: 100vw;
  height: 650px;
  background-color: #646668;
}
li div{
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.menu .lista .tit{
  color:#7a7c7c;;
  font-size: 1px;
}
.menu .lista1 .tit{
  color:#7a7c7c;
  font-size: 1px;
}
.menu.active .lista{
  width: 800px;
  height: 250px;
  background-color: #646668;
  border-radius: 15px;
  transform: translateX(240%);
  padding-bottom: 20px;
}
.menu.active .lista1{
  width: 800px;
  height: 250px;
  background-color: #646668;
  border-radius: 15px;
  transform: translateX(-240%);
  padding-bottom: 20px;
}
.menu.active .lista .tit{
  color: #edb16c;
  font-size:200%;
}
.menu.active .lista1 .tit{
  color: #edb16c;
  font-size:200%;
}
