/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(214, 214, 214);
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border-radius: 2px;
}
.App {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: #7a7c7c;
}
.nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image:  linear-gradient(to top, #646668, #243444e0);
  font-family: cursive;
  font-size:1000%;
  color: rgb(247, 247, 247);
}
.otro{
  width: 100vh;
  height: 280px;
}
