::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgb(214, 214, 214);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border-radius: 2px;
}
.App {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: #7a7c7c;
}
.nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image:  linear-gradient(to top, #646668, #3f3924e0);
  /*background-image:  linear-gradient(to top, #646668, #243444e0);*/
  font-family: cursive;
  font-size:1000%;
  color: rgb(247, 247, 247);
}
.descrip{
  width: 100vmax;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-content: center;
  padding-top: 30px;

}
.text{
  font-family:cursive;
  font-size:400%;
  text-align: center;
  color: #EDC16C;
}
.yo{
  margin-top: 10px;
  margin-bottom: 45px;
  align-self: center;
  width: 70%;
  font-family:cursive;
  font-size:200%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.TitProyectos{
  width: 100vw;
  height: 500px;
  background-image: url('../img/Proyectos.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.PROY{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 700px;
  text-align: center;
  padding-top: 40px;
}
.LENGUA{
  width: 100vw;
  height: 600px;
  background-color: #646668;
}
