.Conten{
    margin-top: 60px;
    width: 70vw;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Cada{
    width: 35%;
    height: 200px;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #646668;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.Conten :hover{
    background-color: rgb(93, 93, 94);
}
.img1{
    margin-top: 5px;
    width: 70%;
    height: 100px;
    border-radius: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

